@font-face {
  font-family: Fredoka;
  src: url("../public/fonts/Fredoka-VariableFont_wdth\,wght.ttf");
}

body {
  margin: 0;
  background-image: url(../public/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  overflow: hidden;
}

img {
  width: 5rem;
  height: 5rem;
  user-select: none;
  opacity: 0%;
  pointer-events: none
}

.animIn {
  animation: picture 0.5s linear;
  animation-fill-mode: forwards;

}

.line {
  display: flex;
  justify-content: left;
  height: 80%;
  width: 70%;
  padding-left: 3.125rem;
  margin-left: 3.125rem;
}

.card {
  width: 11rem;
  height: 6rem;
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: black;
  margin: 0.313rem;
  border-radius: 10%;
  justify-content: center;
  text-align: center;
}


@keyframes picture {
  0% {
    opacity: 0%;
  }

  100% {
    opacity: 100%;
  }
}


.score {
  border: 0.063rem solid black;
  justify-content: flex-end;
}


.flex-end {
  display: flex;
  padding: 1.25rem;
  margin: 0.313rem;
  border: 0.063rem solid black;
  background-color: rgb(245, 149, 235);
  border-radius: 0.938rem;
  text-align: center;
  justify-content: space-around;
  margin-top: 0.938rem;
}

.flex-end a {
  color: rgb(98, 47, 0);
  font-size: 1rem;
  font-weight: bolder;
  display: flex;
  font-family: Fredoka;
}

.scoreCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  border: 0.063rem solid black;
  border-radius: 0.938rem;
  background-color: rgb(101, 114, 255);
  height: 15.625rem;
  width: 15.625rem;
  color: rgb(255, 255, 255);
  align-items: center;
  font-weight: bold;
}

#main {
  display: flex;
}

#other {
  display: flex;
  flex-direction: column;
}

#table {
  display: flex;
  justify-content: center;
  align-items: center;
}

#game {
  margin-top: 2.5rem;
}

h1 {
  display: flex;
  justify-content: center;
  font-size: 4em;
  padding: 0rem;
  margin: 0rem;
  margin-top: 1.25rem;
  color: beige;
  font-family: Fredoka;
}

.scoreCard h1 {
  font-size: 2em;
  padding-bottom: 1.25rem;
  font-family: Fredoka;
}

h2 {
  font-size: 1.5em;
  font-family: Fredoka;
}

h3 {
  font-size: 1.5em;
  font-family: Fredoka;
}

button {
  background-color: #000000;
  border: none;
  color: white;
  padding: 0.938rem 2rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  font-family: Fredoka;
  border-radius: 0.938rem;
  margin-top: 0.625rem;
  margin-bottom: 0.625rem
}

#win {
  display: flex;
  padding: 0.938rem;
  margin: 0.313rem;
  border: 0.063rem solid black;
  background-color: rgb(241, 241, 226);
  font-size: 1em;
  font-weight: bold;
  font-family: Fredoka;
  border-radius: 0.938rem;
  text-align: center;
  justify-content: space-around;
  margin-top: 0.938rem;
}